body {
	background: #0080000;
	font-family: Verdana;
	font-size: 16pt;
	margin-left: 10%;
	margin-right: 10%;
		}

h1 {
	font-family: Ecuyer DAX;
	font-size: 22pt;
	margin-left: 10%;
	margin-right: 10%;
	}
	
